* {
    margin: 0;
    padding: 0;
}
ul {
    width: 100%;
    height: 500px;
}
li {
    display: inline-block;
    width: 250px;
    text-align: center;
    line-height: 50px;
    font-size: 1.3rem;
}
a {
    text-decoration: none;
    color: black;
}